// imports the following sheets so they are linked to the scss sheet
@import "reset";
@import "typography";

// variables that can be reused
$primary-color: blue;
$body-font: "Jost";
$body-size: 24px;
$mq-large: 800px;  // media query for a large screen size
$mq-medium: 600px; // media query for a medium screen size

// mixins are basically functions and you can pass something into it
// use @include to add the mixin into the code
@mixin mq($width) {
    @media (max-width: $width) {
        @content;
    }
}

@mixin vertical-middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body {
    background-color: $primary-color;
    color: #ffffff;
    font-family: $body-font;
    line-height: 1.5;
    font-size: $body-size;

    height: 100vh;
    @include vertical-middle();
}

section {
    width: 500px;
    @include mq($mq-medium) {
        width: 350px;
        font-size: 16px;
    }
    p {
        margin: 24px 0 0 0;
    }
}